<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
  
</head>
<body>
     
     <h1>CAMPEONATO IF</h1>
     <hr>
     <% if(user != undefined){ %>
          <h2>Usuário: <%= user.name %></h2>
          <a href="/admin/user/homePage">HomeUser</a>
          <a href="/logout">Logout</a>
          <% } else{ %>
               <a href="/user/login">Entrar</a> <a href="/user/new">Criar Conta</a>
               <% }%>
    
     <hr>
     <h2>TIMES CADASTRADOS</h2>
     <% teams.forEach(team=>{ %>

          <h2>
               <%= team.name %>
          </h2>

          <% }) %>
</body>

</html>


</html>

