<%- include ('../../partials/header.ejs') %> <%- include
('../../partials/homenavbar.ejs')%>

<div class="container">
  <div class="card mt-3">
    <!-- mt = margin top / mb = margin bottom // ml = margin left // mr = margin right -->
    <div class="card-header"><h1>CRIAR TIME</h1></div>
    <div class="card-body">
      <form action="/admin/team/store" method="POST">
        <div class="form-group">
          <label for="name">Nome do time:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="name"
            required
          />
        </div>

        <button type="submit" class="btn btn-dark btn -block">Confirmar</button>
      </form>
    </div>
  </div>
</div>

<%- include ('../../partials/footer.ejs') %>