<%- include( '../partials/header.ejs' ) %> <%- include( '../partials/navbar.ejs'
) %>

<div class="container">
  <hr />
  <div class="card mt-3">
    <!-- mt = margin top / mb = margin bottom // ml = margin left // mr = margin right -->
    <div class="card-header">Criação de Usuário</div>
    <div class="card-body">
      
      <form action="/user/store"  method="POST">
        <div class="form-group">
          <label for="name"></label>
          <input
            class="form-control"
            name="name"
            type="text"
            placeholder="name"
            id="name"
            required
          />
        </div>

        <div class="form-group">
          <label for="ra"></label>
          <input
            class="form-control"
            name="ra"
            type="text"
            placeholder="ra"
            id="ra"
            required
          />
        </div>

        <div class="form-group">
          <label for="email"></label>
          <input
            class="form-control"
            name="email"
            type="email"
            placeholder="email@exemplo.com"
            id="email"
            required
          />
        </div>

        <div class="form-group">
          <label for="password"></label>
          <input
            class="form-control"
            name="password"
            type="password"
            placeholder="password"
            id="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-dark btn -block">Criar</button>
      </form>
    </div>
  </div>
</div>
<%- include( '../partials/footer.ejs' ) %>
