<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>

<body>
     <h1>CRIAR CONTA</h1>
     <hr>
     <a href="/">Home</a>
     <hr>
     <form action="/user/store" method="post">
          <input type="text" name="name" placeholder="name">
          <input type="text" name="ra" placeholder="registro academico">
          <input type="text" name="email" placeholder="email">
          <input type="password" name="password" placeholder="password">
          <button type="submit">CRIAR</button>
     </form>
</body>
</html>
</html>