
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <h1>ENTRAR NA CONTA</h1>
     <hr>
     <a href="/">Home</a>
     <hr>
     <p> não escreve errado senão c vai voltar pro lobby </p>
     <hr>
     <form action="/session" method="post">
          <input type="text" name="ra" placeholder="registro academico">
          <input type="password" name="password" placeholder="password">
          <button type="submit">ENTRAR</button>
     </form>
</body>
</html>

