<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADMIN USER</title>
  </head>
  <body>
    <h1>ADM USER</h1>
    <hr />
    <a href="/">Home</a>
    <a href="/logout">Logout</a>
    <hr />
    <% if(team_id==null){ %>
    <h2>CRIAR TIME</h2>
    <a href="/admin/team/create">CRIAR TIME</a>
    <% } else{ %>
    <h1>SEU TIME:</h1>
    <a href="/admin/team/newPlayer">ADICIONAR JOGADOR</a>
    <% team.users.forEach(user => { %>
    <h3><%= user.name %></h3>
    <% }) %> <% } %>
  </body>
</html>
